@model LeeAllenFarmAndTrucking.Models.Employee
<form asp-controller="Employee" asp-action="AddEmployee"
    method="post">
    <label asp-for="EmployeeName"></label>
    <input asp-for="EmployeeName" />
    <br />
    <label asp-for="EmployeePhone"></label>
    <input asp-for="EmployeePhone" />
    <br />
    <label asp-for="ClientEmail"></label>
    <input asp-for="ClientEmail" />
    <br />
    <button type="submit">Add Employee</button>
</form>

