@model LeeAllenFarmAndTrucking.ViewModel.OrderAddOrderViewModel
<form asp-controller="Order" asp-action="AddOrder"
    method="post">
    <label asp-for="Order.paid"></label>
    <input asp-for="Order.paid" />
    <br />
    <label asp-for="Order.StartDate"></label>
    <input asp-for="Order.StartDate" />
    <br />
    <label asp-for="Order.EndDate"></label>
    <input asp-for="Order.EndDate" />
    <br />
    <label asp-for="Order.typeService"></label>
    <input asp-for="Order.typeService" />
    <br />
    <label asp-for="Order.cost"></label>
    <input asp-for="Order.cost" />
    <br />
    <label asp-for="Client.ClientName"></label>
    <select asp-for="Client.ClientId"
            asp-items="@Model.ClientList"></select>
    <br />
    <button type="submit">Add Order</button>
</form>